/* main.module.css */
.main {
  display: flex;
  flex-direction: column;
}

.mainSection {
  display: flex;
  width: 100%;
}
.categories {
  width: 25%;
  color: white;
}

.categoryItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productsSection {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sorting {
  margin-left: auto;
}
.products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}
